<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Thymeleaf in action</title>
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css">

</head>
<body>


<header th:fragment="header">
  <!-- 顶部导航栏 -->
  <nav class="navbar navbar-expand-md navbar-light bg-light mb-4">
  <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light"> -->
    <!-- 将品牌和开关组合在一起，以获得更好的移动显示效果 -->
    <a class="navbar-brand" href="#" th:href="@{~/}">NewStarBlog</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarContainer">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <!-- 收集导航链接、表单和其他内容进行切换 -->
    <div class="collapse navbar-collapse" id="navbarContainer">
      <ul class="nav navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="../index.html" th:href="@{~/}">首页<span class="sr-only">(current)</span></a>
        </li>
      </ul>
      
      <!-- 登录判断 -->
      <div sec:authorize="isAuthenticated()" class="row mr-0">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" sec:authentication="name">nanocore</a>
            <div  class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="../userspace/user.html" th:href="@{'/u/' + ${#authentication.name}}">个人主页</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="../userspace/profile.html" th:href="@{'/u/' + ${#authentication.name}} + '/profile'">个人设置</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="../blogs/blog-edit.html" th:href="@{/blogs/edit}">发表博客</a>
            </div>
          </li>
        </ul>
        <form action="../login.html" th:action="@{~/logout}" method="post">
          <input class="btn btn-outline-success" type="submit" value="退出" />
        </form>
      </div>
      <div sec:authorize="isAnonymous()" class="mx-2">
        <a class="btn btn-outline-success" href="../login.html" th:href="@{~/login}" role="button">登录</a>
      </div>
      
    </div><!-- .navbar-collspse -->
  </nav>
</header>

<!-- Javascript -->
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js"></script>
<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>
</html>