<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>NewStarBlog</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="../static/css/sticky-footer-navbar.css">
</head>
<body>
  <div class="card"><!-- 博客列表 -->
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="#">最新</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">最热</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <ul class="">
        <li class="media">
          <h5 class="">
            <a href="javascript:void(0)">OAuth 2.0 认证的原理与实践</a>
          </h5>
          <p class="">使用 OAuth 2.0 认证的的好处是显然易见的。你只需要用同一个账号密码，就能在各个网站进行访问，而免去了在每个网站都进行注册的繁琐过程。 本文将介绍OAuth
            2.0 的原理，并基于 Spring Security 和 GitHub 账号，来演示 OAuth 2.0 的认证的过程。</p>
          <div class="text-muted d-flex justify-content-between small">
            <div>
              <span>发表于 2019-4-10</span>
            </div>
            <div class="text-muted small">
              <span class="ml-2"><i class="fa fa-eye" aria-hidden="true"></i> 2019-5-20</span>
              <span class="ml-2"><i class="fa fa-heart-o" aria-hidden="true"></i> 20</span>
              <span class="ml-2"><i class="fa fa-comment-o" aria-hidden="true"></i> 11</span>
            </div>
          </div>
        </li>

      </ul>
    </div>
  </div>

  <!-- Javascript -->
  <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js"></script>
  <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>