<!-- 添加用户界面 -->
<div class="container">
  <!-- 添加用户表单 -->
  <form th:action="@{/users}" method="post" th:object="${userModel.user}" id="userForm">
    <input type="hidden" name="id" th:value="*{id}"/>
    <div class="form-group">
      <label for="username" class="col-form-label">账号：</label>
      <input type="text" class="form-control" name="username" th:value="*{username}" placeholder="Enter username" / >
    </div>
    <div class="form-group">
      <label for="email" class="col-form-label">邮箱：</label>
      <input type="email" class="form-control" name="email" th:value="*{email}" placeholder="Enter email" />
    </div>
    <div class="form-group">
      <label for="name" class="col-form-label">名称：</label>
      <input type="text" class="form-control" name="name" th:value="*{name}" placeholder="Enter nickname" />
    </div>
    <div class="form-group">
      <label for="password" class="col-form-label">密码：</label>
      <input type="password" class="form-control" name="password" th:value="*{password}" placeholder="Enter password" />
    </div>
    <div class="form-group">
      <label for="authorityId" class="col-form-label">角色：</label>
      <select class="form-control form-control-chosen" name="authorityId" placeholder="Choose role">
        <option value="1">管理员</otion>
        <option value="2">博主</option>
      </select>
    </div>
  </form>
</div>
