<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Thymeleaf in action</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/font-awesome-4.7.0/css/font-awesome.min.css" th:href="@{~/font-awesome-4.7.0/css/font-awesome.min.css}">
    <link rel="stylesheet" href="https://cdn.bootcss.com/toastr.js/latest/css/toastr.min.css">
    <link rel="stylesheet" href="../../static/css/sticky-footer-navbar.css" th:href="@{~/css/sticky-footer-navbar.css}">
  </head>
  <body>

    <div th:replace="~{fragments/header :: header}"></div>

    <main class="container blog-content-container">
      <div class="row">
        <!-- 左侧栏目 -->
        <div class="col-md-3">

          <!-- 分类 -->
          <div class="card ">
            <div class="card-header">
              <span><i class="fa fa-bars" aria-hidden="true"></i> 菜单</span>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <a href="javascript:void(0)">用户管理</a>
              </li>
              <!-- /* -->
              <li class="list-group-item">
                <a href="javascript:void(0)" title="角色授权">角色授权 </a>
              </li>
              <li class="list-group-item">
                <a href="javascript:void(0)" title="博客管理">博客管理</a>
              </li>
              <li class="list-group-item">
                <a href="javascript:void(0)" title="评论管理">评论管理</a>
              </li>
              <!-- */ -->
            </ul>
          </div><!-- .card end -->
        </div>

        <!-- 右侧栏目 -->
        <div class="col-md-9" id="rightContainer">
          <!-- 右侧内容区将从后台返回 -->
          <!-- /* -->
          <div class="card mb-4">
            <div class="card-header bg-dark text-white">
              <div class="input-group container">
                <input type="text" class="form-control" placeholder="输入用户名称进行搜索">
                <span class="input-group-btn mr-4">
                <button class="btn btn-secondary" type="button">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </button>
              </span>
                <a class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalCenter" role="button">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </a>
              </div>
            </div>
            <div class="container-fluid">
              <div class="row">
                <table class="table table-striped">
                  <thead>
                  <tr>
                    <th>#</th>
                    <th>Username</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Operation</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>Otto@game.com</td>
                    <td>@mdo</td>
                    <td>
                      <div>
                        <a class="btn btn-link btn-sm py-0" data-toggle="modal" data-target="#exampleModalCenter"
                           role="button"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                        <a class="btn btn-link btn-sm py-0" data-toggle="modal" role="button"><i class="fa fa-times"
                                                                                                 aria-hidden="true"></i></a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                    <td>@mdo</td>
                    <td>
                      <div>
                        <a class="btn btn-link btn-sm py-0" data-toggle="modal" data-target="#exampleModalCenter"
                           role="button"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                        <a class="btn btn-link btn-sm py-0" data-toggle="modal" role="button"><i class="fa fa-times"
                                                                                                 aria-hidden="true"></i></a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                    <td>@mdo</td>
                    <td>
                      <div>
                        <a class="btn btn-link btn-sm py-0" data-toggle="modal" data-target="#exampleModalCenter"
                           role="button"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                        <a class="btn btn-link btn-sm py-0" data-toggle="modal" role="button"><i class="fa fa-times"
                                                                                                 aria-hidden="true"></i></a>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- */ --><!-- .card end -->

          <!-- 分页 -->
          <!--
          <nav>
            <ul class="pagination justify-content-center">
              <li class="page-item">
                <a href="#" class="page-link" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="page-item active"><a href="#" class="page-link">1</a></li>
              <li class="page-item"><a href="#" class="page-link">2</a></li>
              <li class="page-item"><a href="#" class="page-link">3</a></li>
              <li class="page-item">
                <a href="#" class="page-link" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
           -->

          <!-- Modal -->
          <!-- <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  ...
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div> -->

        </div><!-- 右侧栏目 -->
      </div><!-- .row -->

    </main><!-- .container -->

    <div th:replace="~{fragments/footer :: footer}"></div>

    <!-- Javascript -->
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- toastr 通知插件 -->
    <script src="https://cdn.bootcss.com/toastr.js/latest/js/toastr.min.js"></script>
    <!-- 分页插件 -->
    <script src="../../static/js/thymeleaf-bootstrap-paginator.js"></script>
    <script src="../../static/js/admin/main.js"></script>

  </body>
</html>