<div id="mainContainer">
  <div id="mainContainerRepleace">
  
<div class="card mb-4">
  <div class="card-header bg-dark text-white">
    <div class="input-group container">
      <input type="text" class="form-control" id="searchName" placeholder="输入用户名称进行搜索"> 
      <span class="input-group-btn mr-4">
        <button class="btn btn-secondary" type="button" id="searchNameBtn">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </span>
      <a class="btn btn-secondary" id="addUser" data-toggle="modal" data-target="#exampleModalCenter" role="button">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </a>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
    <table class="table table-striped">
    <thead>
    <tr>
    <th>#</th>
    <th>Username</th>
    <th>Full Name</th>
    <th>Email</th>
    <th>Role</th>
    <th>Operation</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${userModel.userList}">
    <th scope="row" th:text="${user.id}">1</th>
    <td th:text="${user.username}">Mark</td>
    <td th:text="${user.name}">Otto</td>
    <td th:text="${user.email}">Otto@game.com</td>
    <td th:text="${user.authorities}">@mdo</td>
    <td>
      <div>
        <a class="btn btn-link btn-sm py-0 blog-edit-user" data-toggle="modal" data-target="#exampleModalCenter" role="button" data-th-attr="userId=${user.id}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
        <a class="btn btn-link btn-sm py-0 blog-delete-user" data-toggle="modal" role="button" data-th-attr="userId=${user.id}"><i class="fa fa-times" aria-hidden="true" ></i></a>
      </div>
    </td>
    </tr>
    </tbody>
    </table>
    
    </div>
  </div>
</div><!-- .card end -->

  <!-- 分页 -->
  <div th:replace="~{fragments/page :: page}">...</div>
  
  </div>
</div>

<!-- The modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modalLabel">新增/编辑</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="userFormContainer"></div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" id="submitEdit">提交</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
 
<script src="../../static/js/admin/user.js" th:src="@{/js/admin/user.js}"></script> 

