.img-container, .img-preview {
    background-color: #f7f7f7;
    text-align: center;
}

.img-container {
    max-height: 361px;
    min-height: 200px;
    width: 100%;
}

@media (min-width: 768px) {
    .img-container {
        min-height: 361px;
    }
}

.img-container > img {
    max-width: 100%;
}

.preview-rect {
    overflow: hidden;
    width: 162px;
    height: 162px;
    margin-bottom: 10px
}

.preview-round {
    overflow: hidden;
    width: 162px;
    height: 162px;
    border-radius: 50%
}

