<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>NewStarBlog</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- thinker-md 与 bootstrap 样式冲突，把 md 放在 bootstrap 前面，让 bootstrap 覆盖 md -->
  <link href="../../static/thinker-md-dist/stylesheets/thinker-md.vendor.css" rel="stylesheet">
  <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.bootcss.com/jquery-tagsinput/1.3.6/jquery.tagsinput.min.css" rel="stylesheet">
  <link href="../../static/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="../../static/css/sticky-footer-navbar.css" rel="stylesheet">
  <link href="../../static/css/index.css" rel="stylesheet">
</head>
<body>

  <!-- header -->
  <div></div>

  <!-- 编辑博客页面 -->
  <main class="container blog-content-container">
    <div class="row">
      <div class="col-md-9">
        <!-- blog post -->
        <div class="card mb-4">
          <div class="card-body">
            <form>
              <div class="form-group">
                <label for="title">博客标题</label>
                <input type="text" class="form-control" id="title" placeholder="请填写博客标题">
              </div>
              <div class="form-group">
                <label for="summary">博客摘要</label>
                <textarea class="form-control" id="summary" rows="3" placeholder="请填写博客摘要"></textarea>
              </div>
              <div class="form-group">
                <label for="md">博客正文</label>
                <textarea class="form-control" id="md" data-provide="markdown" data-hidden-buttons="cmdImage"></textarea>
                <style>
                  @import "../../static/thinker-md-dist/emoji/nature.css";
                  @import "../../static/thinker-md-dist/emoji/object.css";
                  @import "../../static/thinker-md-dist/emoji/people.css";
                  @import "../../static/thinker-md-dist/emoji/place.css";
                  @import "../../static/thinker-md-dist/emoji/Sysmbols.css";
                  @import "../../static/thinker-md-dist/emoji/twemoji.css";
                </style>
              </div>
            </form>
          </div>
        </div><!-- blog post end -->
      </div>

      <!-- 右侧栏目 -->
      <div class="col-md-3">
        <div>
          <!-- 文章目录 -->
          <div class="card">
            <div class="card-header">
              <i class="fa fa-file-image-o" aria-hidden="true"></i> <span>图片上传</span>
            </div>
            <div class="card-body">
              <form enctype="multipart/form-data">
                <input type="file" name="file" accept="image/png,image/gif,image/jpeg">
                <button class="btn btn-primary btn-sm float-right" type="button">插入</button>
              </form>
            </div>
          </div>
          <!-- 博客设置 -->
          <div class="card mt-4">
            <div class="card-header">
              <i class="fa fa-cog" aria-hidden="true"></i> <span>博客设置</span>
            </div>
            <div class="card-body">
              <div class="form-group">
                <label for="tagsInput">标签：</label>
                <input type="text" class="form-control form-control-sm" id="tagsInput">
              </div>
              <div class="form-group">
                <label for="catalog">分类：</label>
                <select class="form-control form-control-sm" id="catalog">
                  <option>默认分类</option>
                  <option>源码分析</option>
                  <option>安装笔记</option>
                </select>
              </div>
              <button class="btn btn-primary btn-sm float-right">发布</button>
            </div>
          </div><!-- .card end -->
        </div>
      </div><!-- 右侧栏目 end -->

    </div><!-- .row -->
  </main><!-- .container -->

  <!-- footer -->
  <div></div>


  <!-- bootstrap -->
  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <!-- jquery-tagsinput 标签插件 -->
  <script src="https://cdn.bootcss.com/jquery-tagsinput/1.3.6/jquery.tagsinput.min.js"></script>
  <!-- thinker-md -->
  <script src="../../static/thinker-md-dist/javascripts/thinker-md.vendor.min.js"></script>
  <script>
      // 初始化marddown
      $("#md").markdown({
          language: 'zh',
          fullscreen: {
              enable: true
          },
          resize: 'vertical',
          localStorage: 'md',
          imgurl: 'http://localhost:8081/upload/img',
          base64url: 'http://localhost:8081/upload/base64'
      })
      // 初始化标签
      $('#tagsInput').tagsInput({
          'height': 'auto',
          'width': 'auto',
          'defaultText': ''
      })
  </script>
  <!-- 事件函数 -->

</body>
</html>