<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pianxian.blog.mapper.BlogMapper">

    <sql id="blogList">
        b.id,
        b.title,
        b.summary,
        b.user_id,
        b.catalog_id,
        b.create_time,
        b.last_edit_time,
        b.read_size,
        b.comment_size,
        b.vote_size,
        u.nickname author
    </sql>

    <sql id="blogDetail">
        b.id,
        b.title,
        b.summary,
        b.content,
        b.html_content,
        b.user_id,
        b.catalog_id,
        b.create_time,
        b.last_edit_time,
        b.read_size,
        b.comment_size,
        b.vote_size,
        u.nickname author
    </sql>

    <select id="findBlogById" parameterType="int" resultType="com.pianxian.blog.entity.Blog">
        SELECT
        b.id,
        b.title,
        b.summary,
        b.content,
        b.html_content,
        b.user_id,
        b.catalog_id,
        b.create_time,
        b.last_edit_time,
        b.read_size,
        b.comment_size,
        b.vote_size,
        u.nickname author
        FROM blog.blog b
        INNER JOIN blog.user u ON b.user_id = u.id
        WHERE b.id = #{value}
    </select>

    <select id="findAllBlogsList" resultType="com.pianxian.blog.entity.Blog">
        SELECT
        b.id,
        b.title,
        b.summary,
        b.user_id,
        b.catalog_id,
        b.create_time,
        b.last_edit_time,
        b.read_size,
        b.comment_size,
        b.vote_size,
        u.nickname author
        FROM blog.blog b
        INNER JOIN blog.user u ON b.user_id = u.id
    </select>

    <select id="findBlogsListByUserId" parameterType="int" resultType="com.pianxian.blog.entity.Blog">
        SELECT
        b.id,
        b.title,
        b.summary,
        b.user_id,
        b.catalog_id,
        b.create_time,
        b.last_edit_time,
        b.read_size,
        b.comment_size,
        b.vote_size,
        u.nickname author
        FROM blog.blog b
        INNER JOIN blog.user u ON b.user_id = u.id
        WHERE b.user_id = #{value}
    </select>

    <insert id="insertBlog" parameterType="blog" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO blog.blog
        (
        title,
        summary,
        content,
        html_content,
        user_id,
        catalog_id,
        create_time,
        last_edit_time,
        read_size,
        comment_size,
        vote_size
        )
        VALUES
        (
        #{title},
        #{summary},
        #{content},
        #{htmlContent},
        #{userId},
        #{catalogId},
        #{createTime},
        #{lastEditTime},
        #{readSize},
        #{commentSize},
        #{voteSize}
        )
    </insert>

    <update id="updateBlog" parameterType="blog">
        UPDATE blog.blog
        SET
        title = #{title} ,
        summary = #{summary} ,
        content = #{content},
        html_content = #{htmlContent},
        user_id = #{userId},
        create_time =  #{createTime},
        last_edit_time = #{lastEditTime},
        read_size = #{readSize},
        comment_size = #{commentSize},
        vote_size = #{voteSize},
        catalog_id = #{catalogId}
        WHERE
        id = #{id}
    </update>

    <delete id="deleteBlog" parameterType="int">
        DELETE FROM blog.blog WHERE id = #{value}
    </delete>

    <select id="findAllBlogsListOrderByCreateTimeDesc" resultType="com.pianxian.blog.entity.Blog">
        SELECT
        b.id,
        b.title,
        b.summary,
        b.user_id,
        b.catalog_id,
        b.create_time,
        b.last_edit_time,
        b.read_size,
        b.comment_size,
        b.vote_size,
        u.nickname author
        FROM blog.blog b
        INNER JOIN blog.user u ON b.user_id = u.id
        ORDER BY b.create_time DESC
    </select>

    <select id="findAllBlogsListOrderByCommentSizeAndVoteSizeAndReadSizeDesc" resultType="com.pianxian.blog.entity.Blog">
        SELECT
        b.id,
        b.title,
        b.summary,
        b.user_id,
        b.catalog_id,
        b.create_time,
        b.last_edit_time,
        b.read_size,
        b.comment_size,
        b.vote_size,
        u.nickname author
        FROM blog.blog b
        INNER JOIN blog.user u ON b.user_id = u.id
        ORDER BY b.comment_size DESC, b.vote_size DESC, b.read_size DESC
    </select>

    <select id="findBlogsListByUserIdOrderByCreateTimeDesc" parameterType="int" resultType="com.pianxian.blog.entity.Blog">
        SELECT
        b.id,
        b.title,
        b.summary,
        b.user_id,
        b.catalog_id,
        b.create_time,
        b.last_edit_time,
        b.read_size,
        b.comment_size,
        b.vote_size,
        u.nickname author
        FROM blog.blog b
        INNER JOIN blog.user u ON b.user_id = u.id
        WHERE b.user_id = #{userId}
        ORDER BY b.create_time DESC
    </select>

    <select id="findBlogsListByUserIdOrderByCommentSizeAndVoteSizeAndReadSizeDesc" parameterType="int" resultType="com.pianxian.blog.entity.Blog">
        SELECT
        b.id,
        b.title,
        b.summary,
        b.user_id,
        b.catalog_id,
        b.create_time,
        b.last_edit_time,
        b.read_size,
        b.comment_size,
        b.vote_size,
        u.nickname author
        FROM blog.blog b
        INNER JOIN blog.user u ON b.user_id = u.id
        WHERE user_id = #{userId}
        ORDER BY b.comment_size DESC, b.vote_size DESC, b.read_size DESC
    </select>

    <select id="findBlogsListByUserIdAndTitleLike"  parameterType="blog" resultType="com.pianxian.blog.entity.Blog">
        SELECT
        b.id,
        b.title,
        b.summary,
        b.user_id,
        b.catalog_id,
        b.create_time,
        b.last_edit_time,
        b.read_size,
        b.comment_size,
        b.vote_size,
        u.nickname author
        FROM blog.blog b
        INNER JOIN blog.user u ON b.user_id = u.id
        WHERE b.user_id = #{userId} AND b.title like '%${title}%'
    </select>

    <select id="findBlogsListByUserIdAndCatalogId"  parameterType="blog" resultType="com.pianxian.blog.entity.Blog">
        SELECT
        b.id,
        b.title,
        b.summary,
        b.user_id,
        b.catalog_id,
        b.create_time,
        b.last_edit_time,
        b.read_size,
        b.comment_size,
        b.vote_size,
        u.nickname author
        FROM blog.blog b
        INNER JOIN blog.user u ON b.user_id = u.id
        WHERE b.user_id = #{userId} AND b.catalog_id = #{catalogId}
    </select>

    <select id="findBlogsListByUserIdAndCatalogIdOrderByCommentSizeAndVoteSizeAndReadSizeDesc"  parameterType="blog" resultType="com.pianxian.blog.entity.Blog">
        SELECT
        b.id,
        b.title,
        b.summary,
        b.user_id,
        b.catalog_id,
        b.create_time,
        b.last_edit_time,
        b.read_size,
        b.comment_size,
        b.vote_size,
        u.nickname author
        FROM blog.blog b
        INNER JOIN blog.user u ON b.user_id = u.id
        WHERE b.user_id = #{userId} AND b.catalog_id = #{catalogId}
        ORDER BY b.comment_size DESC, b.vote_size DESC, b.read_size DESC
    </select>

    <select id="findBlogsListByUserIdAndCatalogIdOrderByCreateTimeDesc"  parameterType="blog" resultType="com.pianxian.blog.entity.Blog">
        SELECT
        b.id,
        b.title,
        b.summary,
        b.user_id,
        b.catalog_id,
        b.create_time,
        b.last_edit_time,
        b.read_size,
        b.comment_size,
        b.vote_size,
        u.nickname author
        FROM blog.blog b
        INNER JOIN blog.user u ON b.user_id = u.id
        WHERE b.user_id = #{userId} AND b.catalog_id = #{catalogId}
        ORDER BY b.create_time DESC
    </select>

    <select id="findBlogsListByUserIdAndCatalogIdOrdeByCreateTimeDescOrCommentSizeAndVoteSizeAndReadSizeDesc" parameterType="map" resultType="com.pianxian.blog.entity.Blog">
        SELECT
        b.id,
        b.title,
        b.summary,
        b.user_id,
        b.catalog_id,
        b.create_time,
        b.last_edit_time,
        b.read_size,
        b.comment_size,
        b.vote_size,
        u.nickname author
        FROM blog.blog b
        INNER JOIN blog.user u ON b.user_id = u.id
        <where>
            <if test="userId != null">
               AND b.user_id = #{userId}
            </if>
            <if test="catalogId != null">
                AND b.catalog_id = #{catalogId}
            </if>
        </where>
        <if test="order != null and order == 'new'">
            ORDER BY b.create_time DESC
        </if>
        <if test="order != null and order == 'hot'">
            ORDER BY b.comment_size DESC, b.vote_size DESC, b.read_size DESC
        </if>
    </select>

    <select id="countBlogsByUserId" parameterType="int" resultType="int">
        SELECT count(*) FROM blog.blog WHERE user_id=#{userId}
    </select>
</mapper>